lowPriorityScaleFormula = '''
// Initial flag for first set of VMs
interval = TimeInterval_Minute * {{scaleInterval}}; 

// Compute the target nodes based on pending tasks.
// $PendingTasks == The sum of $ActiveTasks and $RunningTasks
$samples = $PendingTasks.GetSamplePercent(interval);
$tasks = $samples < 70 ? {{vmCount}} : max($PendingTasks.GetSample(1), avg($PendingTasks.GetSample(interval)));
$targetVMs = $tasks > 0 ? $tasks : max(0, $TargetLowPriorityNodes);
$TargetLowPriorityNodes = max(0, min($targetVMs, {{maxVmCount}}));
$NodeDeallocationOption = taskcompletion;
'''

process {
    executor = 'azurebatch'
    queue    = 'Standard_D2ds_V5'
    withLabel:process_low         { queue = 'Standard_D2ds_V5'  }
    withLabel:process_medium      { queue = 'Standard_D8ds_V5'  }
    withLabel:process_high        { queue = 'Standard_D16ds_V5' }
    withLabel:process_high_memory { queue = 'Standard_E32d_v4'  }
}

azure {
    storage {
        accountName = "$AZURE_BATCH_STORAGE_NAME"
        accountKey  = "$AZURE_BATCH_STORAGE_KEY"
    }
    batch {
        location                = "$AZURE_REGION"
        accountName             = "$AZURE_BATCH_ACCOUNT_NAME"
        accountKey              = "$AZURE_BATCH_ACCOUNT_KEY"
        autoPoolMode            = false
        allowPoolCreation       = true
        deletePoolsOnCompletion = true

        pools {
            Standard_D2ds_V5 {
                autoScale    = true
                vmType       = 'Standard_D2ds_V5'
                vmCount      = 1
                maxVmCount   = 24
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_D8ds_V5 {
                autoScale    = true
                vmType       = 'Standard_D8ds_V5'
                vmCount      = 1
                maxVmCount   = 12
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_D16ds_V5 {
                autoScale    = true
                vmType       = 'Standard_D16ds_V5'
                vmCount      = 1
                maxVmCount   = 8
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_E32d_v4 {
                autoScale    = true
                vmType       = 'Standard_E32d_v4'
                vmCount      = 1
                maxVmCount   = 1
                scaleFormula = lowPriorityScaleFormula
            }
        }
    }
}